In [1]:
import numpy as np 
import pandas as pd

In [6]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [7]:
df=pd.DataFrame(d)

In [8]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

## '.dropna' Method :--->>>>

In [9]:
df.dropna()

     A    B  C
0  1.0  5.0  1

dropna method will drop all the row which has one or more 'nan' value

By Default Axis is 0 so,'.dropna' method will remove records along the rows 

if we want to drop records along the columns we need to specify the Axis='1' and required column name 
Check Below :--->>>>

In [10]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

## Setting 'threshold' value in '.dropna' method

In [12]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

Here dropna will not remove those records where at least '2' not 'nan' values are there 

Check Above:

## .fillna() Method
## Filling Values at the place of 'nan' in DataFrame
Check Below :---->>>>

In [14]:
df.fillna(value='Filled Value')

              A             B  C
0             1             5  1
1             2  Filled Value  2
2  Filled Value  Filled Value  3

In [15]:
df['A']

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [16]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [22]:
df[['A'],['B']].fillna(value=df['A'].mean(),value=df['B'].mean())

SyntaxError: keyword argument repeated (<ipython-input-22-a2253e51b95b>, line 1)