In [1]:
import numpy as np 
import pandas as pd

In [5]:
from numpy.random import randn

In [3]:
## index levels :--->>>


outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))b
hier_index=pd.MultiIndex.from_tuples(hier_index)

## Here we are creating multi level indexes to use in data Frame
Check above

In [6]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [7]:
df

             A         B
G1 1  1.292134 -0.317545
   2  0.193087 -1.526442
   3  0.861949 -1.672496
G2 1 -1.579621  0.736195
   2 -0.602994 -0.018779
   3  1.218762  1.647410

## Grabing Index :--->>>

In [20]:
df.loc['G1']

            A         B
Num
1    1.292134 -0.317545
2    0.193087 -1.526442
3    0.861949 -1.672496

## Grabing inside indexes
Check Below :---->>>>>>

In [22]:
df.loc['G1'].loc[1]

A    1.292134
B   -0.317545
Name: 1, dtype: float64

In [27]:
df.loc['G2'].loc[3]

A    1.218762
B    1.647410
Name: 3, dtype: float64

In [28]:
type(df.loc['G2'].loc[3])

pandas.core.series.Series

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names=['Groups','Num']

In [30]:
df

                   A         B
Groups Num
G1     1    1.292134 -0.317545
       2    0.193087 -1.526442
       3    0.861949 -1.672496
G2     1   -1.579621  0.736195
       2   -0.602994 -0.018779
       3    1.218762  1.647410

In [31]:
df.loc['G2'].loc[2]['B']

-0.018778701904712553

## Cross sectional Selection from DataFrame:
Check Below:---->>>>

In [33]:
## Normal Selection 

df.loc['G1']

            A         B
Num
1    1.292134 -0.317545
2    0.193087 -1.526442
3    0.861949 -1.672496

Cross sectional selection using 'xs' method:---->>>>

In [34]:
df.xs('G1')

            A         B
Num
1    1.292134 -0.317545
2    0.193087 -1.526442
3    0.861949 -1.672496

Beauty of Cross sectional selection
sx has ability to go inside the outer index and select records 

Check Below :--->>>>

In [35]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.292134 -0.317545
G2     -1.579621  0.736195

In the above example 
we are selecting all the record from inside index '1'
xs has ability to grab the inside index directly without accessing outer index

In [37]:
df.xs(2,level='Num')

               A         B
Groups
G1      0.193087 -1.526442
G2     -0.602994 -0.018779