In [1]:
import pandas as pd

In [2]:
import numpy as np

In [21]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [18]:
arr

array([10, 20, 30])

In [5]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

## Second way to generate Series
if we r putting data,index in order manners

In [8]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

## Creating Series Using arr and labels

In [22]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [23]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

## Creating Series using dictionary

In [24]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64