In [2]:
num=12
name='ckp'

In [3]:
'My num is {} and My name is {}'.format(num,name)

'My num is 12 and My name is ckp'

In [4]:
print('My num is {} and My name is {}'.format(num,name)
)

My num is 12 and My name is ckp

In [5]:
print('My name is {one} and My num is {two} and my address is {one} and My id is {two}'.format(one=name,two=num))

My name is ckp and My num is 12 and my address is ckp and My id is 12

In [6]:
str="Python Data science Tutorial"

In [7]:
str[1]

'y'

In [8]:
str[7]

'D'

In [9]:
str[6]

' '

In [10]:
str[1:5]

'ytho'

In [14]:
str_1='abcdefghi'

In [13]:
str_1[3:7]

'defg'

In [16]:
nested_lst=['a','b','c',[2,3,4,[3,'third']]]

In [17]:
nested_lst[3][1]

3

In [18]:
nested_lst.append('fourth')

In [19]:
nested_lst

['a', 'b', 'c', [2, 3, 4, [3, 'third']], 'fourth']

In [20]:
nested_lst[4]

'fourth'

In [21]:
nested_lst[3][3][1]

'third'

## Dictionary

In [23]:
dict={'key1':'Value1','key2':'Value2'}

In [27]:
dict.keys()

dict_keys(['key1', 'key2'])

In [28]:
dict.values()

dict_values(['Value1', 'Value2'])

In [30]:
dict['key1']

'Value1'

In [40]:
d1={'k1':[1,2,3],'k2':[4,5,6]}

In [44]:
d1['k2']

[4, 5, 6]

In [45]:
d1['k2'][1]

5

In [36]:
nested_dict={'key1':{'innerkey':'innerValue'}}

In [38]:
nested_dict.keys()

dict_keys(['key1'])

In [47]:
nested_dict.values()

dict_values([{'innerkey': 'innerValue'}])

In [49]:
nested_dict['key1']

{'innerkey': 'innerValue'}

In [50]:
nested_dict['key1']['innerkey']

'innerValue'

In [51]:
nested_dict1={'key1':{'innerkey1':[1,2,3,4]}}

In [53]:
nested_dict1['key1']

{'innerkey1': [1, 2, 3, 4]}

In [54]:
nested_dict1['key1']['innerkey1'][3]

4

In [55]:
my_lst=[1,2,3,4]

In [56]:
my_lst[1]='two'

In [57]:
my_lst

[1, 'two', 3, 4]

In [63]:
tuple1=(1,2,3,4,(10,5))

In [59]:
tuple1[1]

2

In [64]:
tuple1[1:3]

(2, 3)

In [65]:
tuple1[4][1]

5

## Tuples are immutable

In [66]:
tuple1

(1, 2, 3, 4, (10, 5))

In [67]:
tuple1[0]='hello'

TypeError: 'tuple' object does not support item assignment

## Set contains only unique elements

In [70]:
set_1={1,2,3,4,1,2,3,4,1,2,3,4}

In [71]:
set_1

{1, 2, 3, 4}

In [75]:
set_1.add(20)

In [76]:
set_1

{1, 2, 3, 4, 20}

In [77]:
set_1.add(20)

In [78]:
set_1

{1, 2, 3, 4, 20}

## Assignment operators

In [79]:
'Hi'=='Bye'

False

In [81]:
'This is python data science programming'=='This is not only python data science programming'

False

In [83]:
i=1
while i<10:
    print("Hello")
    i=i+1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Range Function

In [84]:
range(1,10,2)

range(1, 10, 2)

In [85]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

## List Comprehension

In [86]:
x=list(range(5))

In [87]:
x

[0, 1, 2, 3, 4]

In [88]:
out=[]
for num in x:
    out.append(num**2)

In [90]:
print(out)

[0, 1, 4, 9, 16]

In [91]:
out=[]
for num in x:
    out.append(5)

In [92]:
print(out)

[5, 5, 5, 5, 5]

In [93]:
x.append(5)

In [94]:
x

[0, 1, 2, 3, 4, 5]

## List Comprenhension

In [95]:
out_1=[num**2 for num in x]

In [96]:
out_1

[0, 1, 4, 9, 16, 25]

## Functions

In [102]:
def my_func(name):
    print("My name is "+ name)

In [103]:
my_func('ckp')

My name is ckp

In [108]:
def my_func_1(name='default name'):
    print("My Name is "+name)

In [109]:
my_func_1()

My Name is default name

In [110]:
my_func_1('chandan')

My Name is chandan

## Return

In [119]:
def Square(num):
    """
    This is docstring
    This can be of multiple lines
    This function squares any 
    given number
    """
    return num**2

In [120]:
sqr_of_two=Square(2)

In [121]:
sqr_of_two

4

In [122]:
## To see the info about functions type functions name and use "shift+tab"

In [ ]:
Square

## Lambda,Map functions

In [123]:
def times2(var):
    return var*2

In [124]:
outpt=times2(5)

In [125]:
outpt

10

In [134]:
seq=[1,2,3,4,5]

In [127]:
map(times2,seq)

In [128]:
list(map(times2,seq))

[2, 4, 6, 8, 10]


instead of using whole functions we can use lambda expression 
Like for this given function

   def times2(var):return var*2
   
lambda expression for given functions
   
   lambda var:var*2

In [131]:
lambda var:(var*3)

In [143]:
list(map(lambda var:var*2,[1,2,3,4]))

[2, 4, 6, 8]

In [136]:
out=map(lambda var:var*3,seq)

In [138]:
list(out)

[3, 6, 9, 12, 15]

## Filter

In [145]:
seq_1=[1,2,3,4,5,6,7,8,9,10]

In [146]:
list(filter(lambda var:var%2==0,seq_1))

[2, 4, 6, 8, 10]

In [147]:
tuple_1=(2,3,4,5,6,7,10,20,30,40)

In [150]:
list(filter(lambda num:num%2==0,tuple_1))

[2, 4, 6, 10, 20, 30, 40]

## Split

In [151]:
str="My name is Chandan Kumar Pathak"

In [152]:
str.capitalize

In [153]:
str.capitalize()

'My name is chandan kumar pathak'

In [154]:
str.upper()

'MY NAME IS CHANDAN KUMAR PATHAK'

In [155]:
str.lower()

'my name is chandan kumar pathak'

In [156]:
str_1="ckp4392@gmail.com"

In [157]:
str_1.split("@")

['ckp4392', 'gmail.com']

In [160]:
str_1.split('@')[1]

'gmail.com'